.team-card-box{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;

}
.team-button{
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  width : 8%;
}

